**/.idea/

**/.ipynb_checkpoints

**/.DS_Store
**/__pycache__/

# model artifacts
image2text/models/model_artifacts/*
!image2text/models/model_artifacts/.placeholder

# fine tune data
image2text/train/data/dataset/*
!image2text/train/data/dataset/.placeholder

#creds
/image2text/train/data/creds.yaml
